# IDE and OS files
.idea
.vscode
.DS_Store


# Go testing output
*.out
*.test
profile*.pdf


# binary exes
cmd/*/*.exe
cmd/main_example/example


# config with real username, password...
config/*ignore*.sh
config/.env*
